<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.me.lost.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThingServlet</servlet-name>
    <servlet-class>com.me.lost.web.servlet.ThingServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>com.me.lost.web.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.me.lost.web.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.me.lost.web.servlet.MessageServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThingServlet</servlet-name>
    <url-pattern>/ThingServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>

</web-app>